/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/** End CSS Reset **/
/** Generic Styles **/
html {
  /** Setup Base-10 sizing for rem units**/
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', Sans-Serif;
}
h1 {
  display: block;
  font-weight: bold;
  font-size: 3.2rem;
  margin: 1.072rem 0;
}
h2 {
  display: block;
  font-weight: bold;
  font-size: 2.4rem;
  margin: 1.328rem 0;
}
h3 {
  display: block;
  font-weight: bold;
  font-size: 1.872rem;
  margin: 1.6rem 0;
}
h4 {
  display: block;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 2.128rem 0;
}
h5 {
  display: block;
  font-weight: bold;
  font-size: 1.328rem;
  margin: 2.672rem 0;
}
h6 {
  display: block;
  font-weight: bold;
  font-size: 1.072rem;
  margin: 3.728rem 0;
}
/** Page Specific Styles **/
.content {
  background-color: #088d46;
  color: #f8f0d7;
  font: 1.6rem 'Cabin', Sans-Serif;
  margin: 0 auto;
  width: 900px;
}
.content header {
  height: 6rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
.content header nav {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content header nav a {
  color: #f8f0d7;
  text-decoration: none;
}
.content header nav a:visited {
  color: #f8f0d7;
}
.content header nav a:hover {
  color: coral;
}
.content section {
  border: 2px solid cyan;
  width: 40%;
}
.content section img {
  width: 10rem;
  border-radius: 100%;
}
.content .profile {
  background-color: #f8f0d7;
  color: #353535;
}
.content footer {
  height: 6rem;
  padding: 1rem;
}
