// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
/** End CSS Reset **/

// Variables //
   // Fonts //
   // Font-Family: 'Arvo', Serif;
   // Font-Size: 44px;
   // Font-Family: 'Lato', Sans-Serif;
   // Font-Size: 16px;
   //----------------------------------
   // Font-Family: 'Roboto Condensed', Sans-Serif;
   // Font-Size: 35px;
   // Font-Family: 'Cabin', Sans-Serif;
   // Font-Size: 16px;
   
@header-font: 'Roboto Condensed', Sans-Serif;
@body-font: 'Cabin', Sans-Serif;
   // Colors //
@salem: #088d46;
@funGreen: #066331;
@eggShell: #f8f0d7;
@coal: #353535;
@attention-color: @salem;
@attention-border: @funGreen;
@bg-color: @eggShell;
@dark-text: @coal;
@light-text: @eggShell;
@link: @light-text;
@link-visited: @light-text;
@link-hover: coral;
// @link-active: coral;

// Mixins //
.header-text() {
   display: block;
   font-weight: bold;
}

.header-footer() {
   height: 6rem;
   padding: 1rem;
}

/** Generic Styles **/
html {
   /** Setup Base-10 sizing for rem units**/
   font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
   font-family: @header-font;
}

h1 {
   .header-text;
   font-size: 3.2rem;
   margin: 1.072rem 0;
}
h2 {
   .header-text;
   font-size: 2.4rem;
   margin: 1.328rem 0;
}
h3 {
   .header-text;
   font-size: 1.872rem;
   margin: 1.6rem 0;
}
h4 {
   .header-text;
   font-size: 1.6rem;
   margin: 2.128rem 0;
}
h5 {
   .header-text;
   font-size: 1.328rem;
   margin: 2.672rem 0;
}
h6 {
   .header-text;
   font-size: 1.072rem;
   margin: 3.728rem 0;
}

/** Page Specific Styles **/
.content {
   // border: 2px solid yellow;
   background-color: @attention-color;
   color: @light-text;
   font: 1.6rem @body-font;
   margin: 0 auto;
   width: 900px;

   header {
      // border: 2px solid magenta;
      .header-footer;
      
      display: flex;
      justify-content: flex-end;

      nav {
         // border: 2px solid yellow;
         width: 35%;

         display: flex;
         justify-content: space-between;
         align-items: center;

         a {
            color: @link;
            text-decoration: none;
         }
         a:visited {
            color: @link-visited;
         }
         a:hover {
            color: @link-hover;
         }
      }
   }

   .table-wrapper {
      display: flex;
      flex-flow: column wrap;

      /** this class will center text within the .table-wrapper **/
      .center {
         text-align: center;
      }

      section {
         border: 2px solid cyan;
         width: 39%;
   
         img {
            border: 0.7rem solid @attention-border;
            border-radius: 49%;
            margin: 2rem;
            width: 15rem;
         }

         .heading {
            background-color: @attention-border;
            padding: 0.7rem 0;
            text-align: center;
         }

         ul {
            font-size: 1.6rem;
            font-style: italic;
            font-weight: normal;
            padding: 1.6rem 0;

            display: flex;
            justify-content: space-between;
         }
      }
   
      .profile {
         background-color: @bg-color;
         color: @dark-text;
         width: 69%;
      }
   }

   footer {
      // border: 2px solid magenta;
      .header-footer;
   }
}
